{% extends "Notes/base.html" %}
{% block content %}
    <div class='display-4'>
        <p>Description</p>
    </div>
    <div class='wrapper'>
        <ul class='task-class'>
            <li>
                <a href="{% url 'notes-detail' object.id %}">
                    <h5>{{ object.task }}</h5>
                    <div>
                        <small>{{ object.description }}</small>
                    </div>
                    <div class='text-center'>
                        <small class="text-muted">{{ note.date_posted | date:"F d, Y" }}</small>
                    </div>
                </a>
            </li>
        </ul>
        {% if object.user == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1 mr-1" href="{% url 'notes-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1 ml-1" href="{% url 'notes-delete' object.id %}">Delete</a>
            </div>   
        {% endif %}
    </div>  
{% endblock content%}